/venv
onda_wallace.vcd
sim_wallace.out
run_sim.sh
/.simvision
/waves_flex.shm
/waves.shm
/xcelium.d
/sim_export.history
/sim_export.log
/xrun.key
xrun.history
xrun.key
xrun.log
sim_export.history
sim_export.log
.symbolnamelist
.gitignore
.symbolportinfomap
simvision24664.diag
